h1 , p {
  text-align: center;
  padding: 0px;
}

ul li {
  padding: 0px;
}
ul li a{
  text-decoration: none;
}

.site1:hover {
  background: #00a8ff;
}
.site2:hover {
  background: #00ff22;
}
.site3:hover {
  background: #ff0022;
}

