/* =======> Titulos <======= */
h1, h2 {
  color: red;
}

h1{
  font-size: 40px;
}

/* =======> Lista ordenada <======= */
ol {
  background: yellow;
}

ol li:nth-child(2n+0) {   /*Serve para referenciar numeros pares dentro de uma lista ou sequencia de linhas*/
  color: green;
}

ol li:nth-child(2n+1) { 
  text-transform: uppercase;
}

/* =======> Listas gerais <======= */

li {
  font-size: 20px;
}

li em {   
  font-weight: 700;
}

ul li:nth-child(-n+3)  {
  color: blue;
}

ul li[class*="Java"] {
  background-color: pink;
}




ul:nth-of-type(2) li {
  color: black;
  text-decoration: none;
}

ul:nth-of-type(2) li a {
  text-decoration: none;
}

ul:nth-of-type(2) li:nth-child(1) a:hover {
  color: orange;
  
}
ul:nth-of-type(2) li:nth-child(2) a:hover {
  color: rgb(7, 190, 7);
  
}
ul:nth-of-type(2) li:nth-child(3) a:hover {
  color: rgb(0, 0, 0);
  
}
ul:nth-of-type(2) li:nth-child(4) a:hover {
  color: yellow;
  
}
ul:nth-of-type(2) li:nth-child(5) a:hover {
  color: green;
  
}
